doctype html
html
  header
    title knowledgebase
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    .container
      != messages('my_message_template', locals)
      block content
      br
      hr
      footer
        p Copyright &copy; 2019
      script(src='/bower_components/jquery/dist/jquery.js')
      script(src='/bower_components/jquery/dist/bootstrap.js')
      script(src='/js/main.js')
